@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.cp-header {
		clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%);
	}

	.cp-button {
		clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
	}

	.cp-triangle {
		clip-path: polygon(0 0, 0% 100%, 100% 0);
	}
}
